* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 0.666667rem;
  text-align: center;
}

.main .bear {
  width: 1.773333rem;
  -webkit-animation: bear 5s linear infinite;
       -o-animation: bear 5s linear infinite;
          animation: bear 5s linear infinite;
}

@-webkit-keyframes bear {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes bear {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }

  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes bear {
  0% {
    -webkit-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}